<section class="user-edit">
  <%= form_with model: @user, local: true do |f| %>
    <%= f.fields_for :profile do |i| %>
      <h1>アカウント編集</h1>

      <div class="name-edit">
        <div class="name-field">
          <%= f.label :name %>
          <div class="count-info">
            <span>※15文字以下&#xFF08;現在：<p id="name-count">0</p>文字&#xFF09;</span>
          </div>
        </div>
        <div class="edit-input">
          <div class="edit-text">
            <i class="fas fa-user-edit edit-icon"></i>
            <%= f.text_field :name, id:"name-input", autofocus: true, autocomplete: "name", maxlength: 15 %>
          </div>
          <% if @user.errors.include?(:name) %> 
            <p class="error-messages">※<%= @user.errors.full_messages_for(:name).first %></p>
          <% end %>
        </div>
      </div>

      <div class="email-edit">
        <div class="email-field">
          <%= f.label :email %>
          <div class="text-info">
            <p class="info">※有効なアドレス</p>
            <p class="info-address">例：sample@sample.com</p>
          </div>
        </div>
        <div class="edit-input">
          <div class="edit-text">
            <i class="fas fa-envelope edit-icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <% if @user.errors.include?(:email) %> 
            <p class="error-messages">※<%= @user.errors.full_messages_for(:email).first %></p>
          <% end %>
        </div>
      </div>

      <div class="icon-edit">
        <div class="edit-title">
          <i class="fas fa-image title-img"></i>
          <p>ユーザーアイコン</p>
        </div>
        <div class="icon-input">
          <%= i.label :avatar_img, id:"file-list" do %>
            <i class="fas fa-camera-retro size"></i>
          <% end %>
          <div class="file-info">
            <%= i.file_field :avatar_img %>
            <p class="info">※自動でリサイズされます。</p>
          </div>
        </div>
      </div>

      <div class="introduction-edit">
        <div class="introduction-field">
          <div class="edit-text">
            <i class="fas fa-address-card title-img"></i>
            <%= i.label :self_introduction, "自己紹介" %>
          </div>
          <div class="count-info">
            <span>※150文字以下&#xFF08;現在：<p id="introduction-count">0</p>文字&#xFF09;</span>
          </div>
        </div>
        <div class="edit-input">
          <%= i.text_area :self_introduction, id:"introduction-input", autofocus: true, maxlength: 150 %>
          <% if @user.profile.errors.include?(:self_introduction) %> 
            <p class="error-messages">※<%= @user.profile.errors.messages_for(:self_introduction).first %></p>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="button-edit">
      <% if @user.email == 'guest@example.com' %>
        <p>申し訳ありません、ゲストユーザーの更新・退会はできません。</p>
      <% else %>
        <%= f.button "更新", type: 'button', onclick: 'submit();', class:'edit-button' %>
      <% end %>
    </div>
  <% end %>

    <div class="button-action">
      <% if @user.email == 'guest@example.com' %>
        <%= link_to "戻る", { controller: 'users', action: 'show' }, method: :get, class:'back-button' %>
      <% else %>
        <%= link_to "戻る", { controller: 'users', action: 'show' }, method: :get, class:'back-button', data: { confirm: "変更が反映されませんがよろしいですか？" } %>
      <% end %>
      <% unless @user.email == 'guest@example.com' %>
        <%= link_to "退会", user_path(current_user.id), class: "destroy-user", method: :delete, data: { confirm: "本当に退会しますか？" } %>
      <% end %>
    </div>

    <%= javascript_pack_tag "user_edit.js" %>
</section>






  <%# <% if @user.email == 'guest@example.com' %>
    <%# <p>おはようございます</p> %>
  <%# <% end %> 


