<section class="user-profile">
  <div class="user-field">
    <div class="user-button">
      <%= link_to root_path do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user) do %>
          <i class="fas fa-cog"></i>
        <% end %>
      <% end %>
    </div>

    <div class="user-img">
      <% if @user.profile.avatar_img? %>
        <%= image_tag(@user.profile.avatar_img.url) %> 
      <% else %>
        <%= image_tag("/assets/guest_img.jpg") %>
      <% end %>
    </div>

    <div class="user-name">
      <p><%= @user.name %></p>
    </div>

    <div class="user-introduction">
      <p><%= @user.profile.self_introduction %></p>
    </div>
  </div>

  

  <article class="post-main">
    <%= render partial: 'posts/article' %>
    <%= javascript_pack_tag "like.js" %>
  </article>
</section>

