<section class="login-page">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class='login-page-title'>ログイン</h1>
    <div class='login-form'>
      <div class='login-email-form'>
        <div class='login-email-info'>
          <%= f.label :email, class:'login-email-name' %>
        </div>
        <div  class='login-email-input'>
          <i class="fas fa-envelope icon-size"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class='login-password-form'>
        <div class='login-password-info'>
          <%= f.label :password, class:'login-password-name' %>
        </div>
        <div class='login-password-input'>
          <i class="fas fa-key icon-size"></i>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>

    <div class='login-form-button'>
      <%= f.button "ログイン", type: 'button', onclick: 'submit();', class:'login-button' %>
      <div class='error'>
        <span class="error-messages"><%= alert %></span>
      </div>
    </div>

    <div class='other-link'>
      <%= link_to new_user_registration_path, class:'registration-link' do %>
        <i class="fas fa-user-plus icon-size"></i>
        <span class="registration-signup">新規登録の方</span>
      <% end %>

      <%= link_to users_guest_sign_in_path, method: :post, class:'guest-link' do %>
        <i class="fas fa-user-tie icon-size"></i>
        <span class="guest-signin">ゲストログイン</span>
      <% end %> 
    </div>
  <% end %>
</section>

