<section class="post-comment-section">
  <h1 class='post-commentText-areaTitle'>コメント一覧</h1>
  <div class='post-commentText-content' id='commentText-output'>
    <% @post.comments.reverse.map do |comment| %>
      <div class='post-commentText-mainContent'>
        <div class='post-comment-firstInformation'>
          <%= link_to "/users/#{comment.user.id}", { class:'commentUser-userShow-link' } do %>
            <% if comment.user.profile.avatar_img? %>
              <%= image_tag(comment.user.profile.avatar_img.url, class:'commentUser-avatarImg') %>
            <% else %>
              <%= image_tag("/assets/guest_img.jpg", class:'commentUser-avatarImg') %>
            <% end %>
          <% end %>
          <span class='commentUser-userName'><%= comment.user.name %></span>
          <span class='commentUser-commentTime'><%= simple_time(comment.created_at) %></span>
          <% if user_signed_in? && current_user.id == comment.user_id %>
            <button class='commentUser-commentDestroy' id="<%= comment.id %>">
              <i class="fas fa-trash-alt icon-size"></i>
            </button>
          <% end %>
        </div>
        <div class='post-comment-secondInformation'>
          <span class='commentUser-commentText'><%= comment.comment_content %></span> 
        </div>
      </div>
    <% end %>
  </div>

  <div class='post-commentInput-mainContent'>
    <div class='postIndex-posts-title-info'>
      <% if user_signed_in? %>
        <% if current_user.profile.avatar_img? %>
          <%= image_tag(current_user.profile.avatar_img.url, class:'commentUser-current-avatarImg') %>
        <% else %>
          <%= image_tag("/assets/guest_img.jpg", class:'commentUser-current-avatarImg') %>
        <% end %>
        <span class='commentUser-current-titleText'>コメントする</span>
      <% else %>
        <span class='commentUser-current-titleText'>※ログインをお願いします。</span>
      <% end %>
    </div>
    <div class='post-commentInput-contentNote'>
      <span class="post-commentInput-info">※200文字以下&#xFF08;現在：<span id="limit-count">0</span>文字&#xFF09;</span>
    </div>
    <div class='post-commentInput-mainText'>
      <textarea class='commentUser-commentText-area' id='commentText' maxlength="200"></textarea>
      <% if user_signed_in? %>
        <button class="commentText-input" type="button" id="<%= @post.id %>" value="<%= current_user.id %>">コメント</button>
      <% else %>
        <%= link_to new_user_session_path, {class:'commentUser-signin-link'} do %>
          <button class="un-commentText-input" type="button">コメント</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= javascript_pack_tag 'comment.js' %>
</section>