<section class="show-comment" id="showComment">
  <% @post.comments.reverse.map do |comment| %>
    <div class="comment-content" id="<%= comment.id %>">
      <div class="comment-user-status">
        <div class="comment-user-img">
          <% if comment.user.profile.avatar_img? %>
            <li class="comment-avaterImg"><%= image_tag(comment.user.profile.avatar_img.url) %></li>
          <% else %>
            <li class="comment-avaterImg"><%= image_tag("/assets/guest_img.jpg") %></li>
          <% end %>
          <p class="comment-userName"><%= comment.user.name %></p>
        </div>

        <div class="comment-postTime-destroy">
          <p class="comment-dayTime"><%= simple_time(comment.created_at) %></p>
          <button class="destroy-button" id="<%= comment.id %>" >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>

      <div class="commentText">
        <p class="comment-content-text"><%= comment.comment_content %></p>
      </div>
    </div>
  <% end %> 

  <div class="comment-inputText">
    <textarea id="comment"  maxlength="200", rows="5"></textarea>
    <% if user_signed_in? %>
      <button class="comment-input" type="button" id="<%= @post.id %>" value="<%= current_user.id %>">コメント！</button>
    <% else %>
      <button class="no-comment-input" type="button">コメント！（ログインをお願いします）</button>
    <% end %>
  </div>

  <%= javascript_pack_tag 'comment.js' %>
</section>
