<% @posts.map do |post| %>
  <div class="post-article">
    <div class="post-details">
      <div class="post-img">
        <%= link_to post_path(post.id) do %>
          <% if post.post_arbitrary.thumbnail_img? %>
            <%= image_tag(post.post_arbitrary.thumbnail_img.url) %>
          <% else %>
            <%= image_tag("/assets/no_img.jpg") %>
          <% end %>
        <% end %>
      </div>
      <div class="post-content">
        <p class="post-text">タイトル：</p>
        <p class="post-title"><%= post.title %></p>
        <p class="post-category"><%= post.category %>
      </div>
    </div>

    <div class="post-status">
      <div class="post-user">
        <div class="post-user-img">
          <%= link_to "/users/#{post.user.id}" do %>
            <% if post.user.profile.avatar_img? %>
              <%= image_tag(post.user.profile.avatar_img.url) %>
            <% else %>
              <%= image_tag("/assets/guest_img.jpg") %>
            <% end %>
          <% end %>
          <p class="post-user-name"><%= post.user.name %></p>
        </div>
        <p class="post-time"><%= simple_time(post.created_at) %></p>
      </div>
      <div class="post-sarvis-like">
        <p class="post-servis-content"><%= post.servis_content %></p>
        <%= render partial: "likes/like", locals: { post: post } %>
      </div>
    </div>
  </div>
<% end %>

  

