<section class="show-main-content">
  <div class="show-content">
    <div class="main-show">
      <div class="show-main-catchphrase">
        <div class="show-title-name">
          <i class="fas fa-pencil-alt title-icon"></i>
          <p class="catchphrase-name">キャッチフレーズ</p>
        </div>
        <p class="catchphrase-content"><%= @post.catchphrase %></p>
      </div>
      <div class="show-topics">
        <div class="show-img">
          <% if @post.post_arbitrary.thumbnail_img? %>
            <%= image_tag(@post.post_arbitrary.thumbnail_img.url) %>
          <% else %>
            <%= image_tag("/assets/no_img.jpg") %>
          <% end %>
        </div>
        <div class="show-title-category">
          <div class="show-title">
            <div class="show-title-name">
              <i class="fas fa-pencil-alt title-icon"></i>
              <p class="category-name">タイトル名</p>
            </div>
            <p class="title-content"><%= @post.title %></p>
          </div>
          
          <div class="show-category">
            <div class="show-title-name">
              <i class="fas fa-pencil-alt title-icon"></i>
              <p class="category-name">カテゴリー</p>
            </div>
            <p class="category-content"><%= @post.category %></p>
          </div>
        </div>
      </div>

      <div class="show-servis-evelopment">
        <div class="show-servis-content">
          <div class="show-title-name">
            <i class="fas fa-pencil-alt title-icon"></i>
            <p class="servis-evelopment-name">サービス内容</p>
          </div>
          <p class="servis_post_content"><%= @post.servis_content %></p>
        </div>

        <div class="show-evelopment-background">
          <div class="show-title-name">
            <i class="fas fa-pencil-alt title-icon"></i>
            <p class="evelopment-background-name">開発・作成背景</p>
          </div>
          <p class="show-evelopment-background-content"><%= @post.evelopment_background %></p>
        </div>
      </div>
      
      <div class="show-like">
        <%= render partial: "likes/like", locals: { post: @post } %>
        <%= javascript_pack_tag "like.js" %>
      </div>
      
      <div class="show-status">
        <div class="show-user-profile">
          <div class="show-user-img">
            <% if @post.user.profile.avatar_img? %>
              <%= image_tag(@post.user.profile.avatar_img.url) %>
            <% else %>
              <%= image_tag("/assets/guest_img.jpg") %>
            <% end %>
          </div>
          <div class="show-name-industry">
            <p class="show-text">今回の開発・制作した人</p>
            <p class="show-name"><%= @post.user.name %>さん</p>
            <p class="show-industry"><%= @post.user.profile.industry %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="aside-show">
      <%= render partial: 'posts/aside' %>
    </div>
  </div>
</section>
