<!DOCTYPE html>
<html lang="ja">
  <header class="page-header">
    <div class="header-logo">
      <%= link_to root_path do %>
        <h2>portfolios-museum</h2>
      <% end %>
    </div>
    
    <div class="main-nav">
    <% if user_signed_in? %>

      <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword %>
        <%= f.submit :"検索" %>
      <% end %>

      <div class="nav-content">
        <li class="user-post">
          <%= link_to new_post_path do %>
            <i class="fas fa-feather-alt post-size"></i>
            <span>投稿</span>
          <% end %>
        </li>
        <div class="user-icon" id="open" >
          <li class="user-img">
            <% if current_user.profile.avatar_img? %>
              <%= image_tag(current_user.profile.avatar_img.url) %> 
            <% else %>
              <%= image_tag("/assets/guest_img.jpg") %>
            <% end %>
            <span>メニュー</span>
          </li>
        </div>
      </div>
      <nav class="user-menu">
        <ul class="menu-item">
          <li class="drop-item">
            <%= link_to "/users/#{current_user.id}" do %>
                <i class="fas fa-user-edit user-size"></i>
                <span>マイページ</span>
            <% end %>
          </li>
          <li class="drop-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt user-size"></i>
              <span>ログアウト</span>
            <% end %>
          </li>
        </ul>
      </nav>

    <% else %>
      <div class="top-menu">
        <li class="top-item">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt sign-in-size tooltip login"></i>
            <span>ログイン</span>
          <% end %>
        </li>
        <li class="top-item">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus new-user-size tooltip"></i>
            <span>新規登録</span>
          <% end %>
        </li>
      </div>
    <% end %>
    </div>
    <%= javascript_pack_tag 'user_menu.js' %>
  </header>
</html>


