<section class="reset-password-section">
  <div class="reset-password-container">
    <div class="reset-password-form">
      <div class="reset-password-title">
        <h1>パスワード再設定</h1>
      </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <% render "devise/shared/error_messages", resource: resource %>

          <div>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <% if @user.errors.include?(:email) %> 
              <p class="error-messages"><%= @user.errors.full_messages_for(:email).first %></p>
            <% end %>
          </div>

          <div class="actions">
            <%= f.submit "再設定" %>
          </div>

          <div>
            <%= render "devise/shared/links" %>
          </div>

        <% end %>
    </div>
  </div>
</section>